@model VisionOne.Core.Domain.Stock

@{
    ViewData["Title"] = "Add Stock";
}

<h4>Add Stock</h4>
<hr />

<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.5/sweetalert2.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.5/sweetalert2.min.js"></script>
@* <form asp-action="AddEditStock">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
                <label for="validationCode" class="form-label">Code</label>
                <div class="input-group has-validation">
                    <input asp-for="Code" class="form-control" id="validationCode" />
                    <div class="invalid-feedback">
                        Please provide a valid username.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Location <span class="text-danger">*</span></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Container Number <span class="text-danger">*</span></label>
                <input asp-for="ContainerNumber" class="form-control" />
                <span asp-validation-for="ContainerNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Group Name <span class="text-danger">*</span></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Quantity <span class="text-danger">*</span></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Rate <span class="text-danger">*</span></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form> *@

<form asp-action="AddEditStock"  class="row g-3 needs-validation" novalidate>
    <div class="row">
        <div class="col-md-4">
            <input asp-for="Id" type="hidden" />
            <label for="validationCode" class="form-label">Code</label>
            <div class="input-group has-validation">
                <input asp-for="Code" class="form-control" id="validationCode" required />
                <div class="invalid-feedback">
                    This is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationLocation" class="form-label">Location</label>
            <div class="input-group has-validation">
                <input asp-for="Location" class="form-control" id="validationLocation" required />
                <div class="invalid-feedback">
                    This is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationContainerNumber" class="form-label">Container Number</label>
            <div class="input-group has-validation">
                <input asp-for="ContainerNumber" class="form-control" id="validationContainerNumber" required />
                <div class="invalid-feedback">
                    This is required.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       
        <div class="col-md-4">
            <label for="validationGroupName" class="form-label">Group Name</label>
            <div class="input-group has-validation">
                <input asp-for="GroupName" class="form-control" id="validationGroupName" required />
                <div class="invalid-feedback">
                    This is required.
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <label for="validationQuantity" class="form-label">Quantity</label>
            <div class="input-group has-validation">
                <input asp-for="Quantity" class="form-control" id="validationQuantity" type="number" required />
                <div class="invalid-feedback">
                    This is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationRate" class="form-label">Rate</label>
            <div class="input-group has-validation">
                <input asp-for="Rate" class="form-control" id="validationRate" type="number" required />
                <div class="invalid-feedback">
                    This is required.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

@{
    if (@TempData["Msg"] != null)
    {
        <script>
           
                Swal.fire(
                    'Saved!',
                    'Record saved successfully!',
                    'success'
            ).then(function () {
                window.location = "@Url.Action("Index","Home")";
            });
           
            // alert('@TempData["msg"]')
        </script>
    }
}
